<div>

  <div class="sidenav  col-sm-2">

    <div class="col-sm-2">

      <!-- <label><input type="radio"
               [routerLink]="['home']"
               class="form-check-input"
               name="optradio"
               ischecked='homeChecked'>Home</label>
      <label><input type="radio"
               [routerLink]="['task']"
               class="form-check-input"
               name="optradio">Tasks</label> -->

      <!-- <form [formGroup]="sideNavForm">
        <label><input type="radio"
                 formControlName="radioValue"
                 [routerLink]="['home']"
                 [value]="radioValue"
                 class="form-check-input"
                 name="home"
                 checked>Home</label>
        <label><input type="radio"
                 [value]="radioValue"
                 value=0
                 formControlName="radioValue"
                 [routerLink]="['task']"
                 class="form-check-input"
                 name="task">Tasks</label>
      </form> -->

      <label><input type="radio"
               [checked]="homeRadio"
               [routerLink]="['home']"
               class="form-check-input"
               name="optradio">Home</label>
      <label><input type="radio"
               [checked]="taskRadio"
               [routerLink]="['task']"
               class="form-check-input"
               name="optradio">Tasks</label>

    </div>

  </div>

  <div class="col-sm-10 main">
    <div class="title">
      <h2 class="col-sm-9">Task Control</h2>
      <div class="task-count col-sm-3">
        <p>My Tasks: {{myTask}}</p><span>|</span>
        <p>Team Tasks: {{teamTask}}</p>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <p-toast  position="bottom-right"></p-toast>
</div>